@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@layer base {
  html {
    @apply text-white;
  }

  h1 {
    @apply font-fancy font-semibold text-3xl md:text-6xl;
  }

  h2 {
    @apply font-fancy font-semibold text-2xl md:text-4xl;
  }

  h3 {
    @apply font-fancy font-semibold text-xl md:text-2xl;
  }

  p {
    @apply text-xs text-whiteHighlight md:text-sm lg:text-base;
  }
}

@layer components {
  .card-dark {
    @apply bg-darkSecondaryBg rounded-3xl border-[0.5px];
  }

  .glasscard-dark {
    @apply card-dark backdrop-blur-md;
  }

  .card-darkSecondary {
    @apply bg-darkTertiaryBg rounded-3xl border-[0.5px];
  }

  .glasscard-darkSecondary {
    @apply card-darkSecondary backdrop-blur-md;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
